<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header'); %>
</head>

<body>
    <%- include('./common/navbar'); %>
        <div class="container">
            <h1>
                <%= username %>
            </h1>
        </div>
</body>

</html>