<div class="card">
    <h5 class="card-header">
        <%= serverName %>
    </h5>
    <div class="card-body">
        <h5 class="card-title">
            <%= serverStatus %>
        </h5>
        <a href="#" class="btn btn-primary">Go to Server</a>
    </div>
</div>